.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 1500px auto;
  grid-template-rows: 100px auto 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  grid-row: 1;
  grid-column: 2;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display: grid;
  grid-template-columns: 20% 50% 10% 20%;
  grid-template-rows: 60px auto;
  grid-row: 2;
  grid-column: 2;
}

.Display {
  grid-row: 2;
  grid-column: 2 / span 1;
  display: grid;

  grid-template-columns: 70% 30%;
}

.SelectMenu {
  grid-column: 3;
  grid-row: 2;
}

.SVG {
  max-height: 400px !important;
  max-width: 600px !important;
  grid-column: 1;
}

svg {
  max-height: 400px !important;
  max-width: 600px !important; 
}
.Tabs {
  grid-row: 1;
  grid-column: 1/4;
  display: flex;
}

.Tab {

}

.Tab.active button {
  background-color: blue;
}

.Sound {
  grid-column: 2;
}

.Text {
  grid-column: 2;
}

