@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root{
  --primary-color: #5BC1F2;
  --active-color: #2196f3;
}

html,
body,
.App,
.container {
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
  font-family: 'Roboto Condensed', serif;
  font-color: rgb(33, 37, 41);
  text-decoration-color: rgb(33,37,41);
  background-color: #f8f9fa;

  grid-gap: 20px;
  grid-template-areas:
    "header"
    "container"
}

.App-header {
  background-color: #8CFFBE;
  color: #3D3D41;

  grid-area: header;
}

.App-title {
}

.App-intro {
  font-size: large;
}

.container {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-area: container;

  grid-template-areas:
    "tabs tabs tabs"
    "display display selectMenu";

}

.Display {
  padding: 10px;
  grid-area: display;
  display: grid;
  /*display: flex;
  flex-direction: row;*/
  grid-auto-rows: 60px 500px;

  grid-template-areas:
      "svg textDiv"
      "sound textDiv";

  box-shadow: inset 0 0 5px 0 #ccc;
  border-radius: 4px;
  overflow: hidden;

  margin: 20px;
}

.SelectMenu {
  grid-area: selectMenu;
}

.Select {
  text-align: left;
}

.Select input[type="radio"] {
  color: rgba(191,191,191,.87)
}

.SelectMenu .dropdown-menu {
  display: none;
}

.SelectMenu .radio-menu {
  display: block;
}

.SVG {
  grid-area: svg;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.SVG div {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}

.Tabs {
  grid-area: tabs;
  display: flex;
}

.Tab {
  display: inline-block;
}

.Tab button {
  background-color: var(--primary-color);
  border: purple;
  border-width: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.Tab .button:hover {
  background-color: var(--active-color);
  cursor: pointer;
}

.Tab.active .button {
  background-color: var(--active-color);
}

.Sound {
  grid-area: sound;
}

.Sound audio {
}

.Text {
  grid-area: textDiv;
}

.hidden {
  display: none;
}



/*Test for responsive design*/

* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 25%;
    padding: 0 5px;
  }

  .App {
    
  }

  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "selectMenu"
      "tabs"
      "display";

    width: 100%;
  }

  .Display {
    
  }

  .SelectMenu .dropdown, 
  .Tabs {
    display: flex;
    margin: 0 16px;
  }

  .SelectMenu .dropdown p,
  .Tabs p {
    display: inline-block;
    width: 20%;
    text-align: left;
  }
  .SelectMenu .radio-menu {
    display: none;
  }

  .SelectMenu .dropdown-menu {
   display: block; 
  }

  select {
    display: inline-block;
    width: 80%;
    padding: .375rem 1.75rem .375rem .75rem;

    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 8px 0px;
  }

  .Tabs > div {
    width: 80%;
  }

  .Tab {
    width: 25%;
    display: inline-block
  }
}

/**
Custom radio buttons
**/

/* The container */
.Select .radio-select {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.Select input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.Select .radio-select {
  position: relative;
}

.Select .radio-select label {
  padding-left: 25px;
}
/* Create a custom radio button */
.Select .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.Select .radio-select:hover ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Select .radio-select input:checked ~ .checkmark {
  background-color: var(--active-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.Select .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.Select .radio-select input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.Select .radio-select .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.svg_div {
  width: 100%;
  height: 400px;
  background-image: url('logo.svg');
}

.button {
  background-color: #33b5e5;
  border: purple;
  border-width: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.button:hover {
  background-color: #0099cc;
  cursor: pointer;
}


