@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root{
  --primary-color: #5BC1F2;
  --active-color: #2196f3;
  --font-color: rgb(33, 37, 41);
  --border-radius: 8px;
}

html,
body,
.App,
.container {
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
  font-family: 'Roboto Condensed', serif;
  font-color: var(--font-color);
  text-decoration-color: rgb(33,37,41);
  background-color: #f8f9fa;

  grid-gap: 20px;
  grid-template-areas:
    "header"
    "container"
    "footer"
}

header {
  grid-area: header;
  box-shadow: inset 0px -6px 10px -10px #333;
}

footer {
  grid-area: footer;
}

footer h4 {
  margin: 8px 16px;
}

header,
footer {
  background-color: var(--active-color);
  color: #FFF;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 1024px;

  grid-area: container;
  grid-template-columns: 80% 20%;

  grid-template-areas:
    "tabs tabs"
    "display selectMenu";

}

.Display {
  padding: 10px;
  grid-area: display;
  box-shadow: inset 0 0 10px -5px #333;
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 1024px;

  margin: 16px;

  background-color: white;
}

.SelectMenu {
  grid-area: selectMenu;
  
}

.Select {
  text-align: left;
}

.Select input[type="radio"] {
  color: rgba(191,191,191,.87)
}

.SelectMenu .dropdown-menu {
  display: none;
  margin: 16px;
}

.SelectMenu .dropdown-menu select {
  margin: 8px;
}

.SelectMenu .radio-menu {
  display: block;
  margin: 16px;
}

.SelectMenu .radio-menu h4 {
  border-bottom: 2px solid #ccc;
  text-align: left;
}

.Tabs {
  grid-area: tabs;
  display: flex;
  margin-left: 16px;
}

.Tabs > div {
  display: flex;
  width: 80%;
}

.media.small {
  display: none;
}

.media.large {
  display: inline-block;
}

.Tab {
  display: inline-block;

}

.Tab {
  background-color: var(--primary-color);
  border: purple;
  border-width: 2px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  width: 100%;


  border-radius: var(--border-radius);
}

.Tab > p {
  padding-right: 8px;
}

.Tab:hover {
  background-color: var(--active-color);
  cursor: pointer;
}

.Tab.active {
  background-color: var(--active-color);
}

.SVG {
  grid-area: svg;
  width: 100%;
  padding: 16px;
}

.SVG div {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}

.Sound {
  grid-area: sound;
  margin: -10px;
}

.Sound audio {
  width: 100%;;
}

.Text {
  background: rgba(0, 0, 0, 0.03);
  margin: -1em;
  grid-area: textDiv;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 16px;
}

.Text pre {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  /*word-wrap: break-word;*/
}

.Text div {
  padding: 0 16px;
}

.Text .col:nth-child(2) {
  padding-top: 50px;
}

.hidden {
  display: none;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

h5 {
  padding-top: 0;
  font-weight: normal;
  font-style: italic;
}

/*Test for responsive design*/

* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 16px;
}


/* For tablets */
@media only screen and (max-width: 1024px) {
  
  .container {
    grid-template-columns: 70% 30%;
    width: auto;
  }

  .Display {
    display: flex;
    flex-direction: column;

    grid-template-columns: 100%;
    grid-template-columns: auto auto;
  }
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 25%;
    padding: 0 5px;
  }

  .App {
    
  }

  .container {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
      "selectMenu"
      "tabs"
      "display";

    width: 100%;
    grid-template-columns: 100%;
  }

  .Display {
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%
  }

  .Text {
    display: grid;
    grid-template-columns: 100%;

  }

  .Text .col:nth-child(2) {
    padding-top: 0px;
  }

  .SelectMenu .dropdown, 
  .Tabs {
    display: flex;
  }

  .Tabs {
    margin: 0 16px;
  }

  .SelectMenu .dropdown p,
  .Tabs p {
    display: inline-block;
    width: 20%;
    text-align: left;
  }
  .SelectMenu .radio-menu {
    display: none;
  }

  .SelectMenu .dropdown-menu {
   display: block; 
  }

  select {
    display: inline-block;
    width: 80%;
    padding: .375rem 1.75rem .375rem .75rem;

    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 8px 0px;
  }

  .Tabs > button {
    width: 80%;
  }

  .media.small {
    display: inline-block;
  }

  .media.large {
    display: none;
  }

  .Tab {
    width: 25%;
    display: inline-block
  }
}

/* For small phones */
@media only screen and (max-width: 425px) {

  
  .Tabs div {
    display: flex;
    flex-wrap: wrap;
  }

  .SelectMenu .dropdown-menu .dropdown select {
    padding-right: 0px;
    width: 80%;
  }
}


@media only screen and (max-width: 320px) {
  .SelectMenu .dropdown-menu .dropdown select span {
    margin-left: -5px;
  }
}
/* Custom radio buttons */

/* The container */
.Select .radio-select {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.Select input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.Select .radio-select {
  position: relative;
}

.Select .radio-select label {
  padding-left: 25px;
}
/* Create a custom radio button */
.Select .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.Select .radio-select:hover ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Select .radio-select input:checked ~ .checkmark {
  background-color: var(--active-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.Select .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.Select .radio-select input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.Select .radio-select .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

